@font-face {
    font-family: MetalMania; /* set name */
    src: url("../font/MetalMania-Regular.ttf"); /* url of the font */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, "sans-serif";
    background: #1A120B;
    text-decoration: none;
}

#main-div {
    display: flex;
    height: 500px;
    width: 900px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid black;
    background-image: url("../images/background.jpg");
    background-size: cover;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    color: #EAD8C0;
    font-family: MetalMania, serif;
    letter-spacing: 3px;
}

#right-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAF3E0;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

label {
    margin-top: 15px;
    padding: 5px;
    font-size: 16px;
    color: #3C2A21;
}

input {
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px black solid;
    color: #433520;
}

#form_error {
    color: red;
    font-size: 12px;
}

button {
    height: 35px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

a {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #935a24;
}

a:hover {
    text-decoration: underline;
}

small {
    color: #9e9e9e;
    font-size: 10px;
    margin-top: 5px;
}

li {
    list-style: none;
}

#menu-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*    height: 384px; */
    /*    width: 512px; */
    height: 450px;
    width: 600px;
    background: #000;
    gap: 15px;
    font-family: MetalMania, serif;
    letter-spacing: 2px;
    color: white;
    font-size: 20px;
}

#menu-div form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menu-div button {
    color: #b63103;
    text-decoration: none;
    font-size: 30px;
    background: none;
    border: none;
    font-family: MetalMania, serif;
    letter-spacing: 2px;
}

#menu-div button:hover {
    color: #2ed5ff;
    cursor: pointer;
}

#game-div {
    z-index: 0;
}

.m-0 {
    background-image: url("../assets/roombase.png");
}

.m-1 {
    background-image: url("../assets/roomblood.png");
}

.m-2 {
    background-image: url("../assets/roomslime.png");
}

.m-3 {
    background-image: url("../assets/roomnasty.png");
}

.m-4 {
    background-image: url("../assets/roompit.png");
}

.m-5 {
    background-image: url("../assets/corridor1.png");
}

.m-6 {
    background-image: url("../assets/corridor2.png");
}

.wumpus {
    background-image: url("../assets/wumpus.png");
}

.player {
    background-image: url("../assets/player.png");
}

.left-up {
    background-position: -10px -10px;
}

.right-up {
    background-position: 10px -10px;
}

.left-down {
    background-position: -10px 10px;
}

.right-down {
    background-position: 10px 10px;
}

.bat {
    background-image: url("../assets/bat.png");
}

td {
    height: 64px;
    width: 64px;
    border: red solid 1px;
}

td a {
    margin: 0;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}