body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, "sans-serif";
    background: #1A120B;
}

#main-div {
    display: flex;
    height: 500px;
    width: 900px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid black;
    background-image: url("../images/background.jpg");
    background-size: cover;
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    color: #EAD8C0;
}

#wumpus {
    height: 200px;
    width: 200px;
    background-image: url("../images/wumpus.png");
    background-size: cover;
}

#right-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAF3E0;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

label {
    margin-top: 15px;
    padding: 5px;
    font-size: 16px;
    color: #3C2A21;
}

input {
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px black solid;
    color: #433520;
}

#form-error {
    color: red;
}

button {
    height: 35px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

a {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
    color: #935a24;
}

a:hover {
    text-decoration: underline;
}