{% extends 'base.html' %}

{% block title %}
Game
{% endblock %}

{% block content %}
<div id="game-div">
    <table>
        {% set player = session['player'] %}
        {% set wumpus = session['wumpus'] %}
        {% set bat_1 = session['bat_1'] %}
        {% set bat_2 = session['bat_2'] %}
        {% for y in range(0, 6) %}
            <tr>
                {% for x in range(0, 8) %}
                    <td class="m-{{session['game_map'][y][x]}} {{'show' if session['game_map_visibility'][y][x] == 1 else 'hide'}}">
                        {% if (y, x) == (player[0], player[1]) %}
                            <a class="player"></a>
                        {% endif %}
                        {% if (y, x) == (wumpus[0], wumpus[1]) %}
                            <a class="wumpus"></a>
                        {% endif %}
                        {% if (bat_1 and (y, x) == (bat_1[0][0], bat_1[0][1])) or (bat_2 and (y, x) == (bat_2[0][0], bat_2[0][1])) %}
                            <a class="bat"></a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}