{% extends 'base.html' %}

{% block title %}
Menu
{% endblock %}

{% block content %}
<div id="menu-div">
    <h1>HUNT THE WUMPUS</h1>
    <img src="{{ url_for('static', filename='images/wumpuseyes.png') }}"
         height="100"
         alt="Wumpus' eyes"/>
    <form method="POST" action="/menu-handler">
        {% for option in options %}
            {% if option == 'EXPRESS' %}
                <button type="submit" name="choice" value="TOGGLE_EXPRESS">
                    EXPRESS : {{ 'ON' if session.get('express') else 'OFF' }}
                </button>
            {% elif option == 'BLINDFOLD' %}
                <button type="submit" name="choice" value="TOGGLE_BLINDFOLD">
                    BLINDFOLD : {{ 'ON' if session.get('blindfold') else 'OFF' }}
                </button>
            {% else %}
                <button type="submit" name="choice" value="{{ option }}">
                    {{ option | replace('_', ' ') }}
                </button>
            {% endif %}
        {% endfor %}
    </form>
</div>
{% endblock %}